doctype html
html
	head
		title pug exercise
		include stylesheets.pug


	body
		include nav.pug
		h1 BAKERS NAME
		a: img(src="https://upload.wikimedia.org/wikipedia/commons/2/22/Baker_Oslo.jpg")

		h3 short bio about baker

		block content

